<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> To Do List </title>
  </head>
  <body>
  
    <main>
      <div>
        <h1>My Lists</h1>
        <div>
          <p><a href="{% url 'todo_create' %}">Create A New List</a></p>
          <p><a href="{% url 'todoitem_create' %}">Create A New Item</a></p>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th> Number of Items </th>
            </tr>
          </thead>

          <tbody>
            {% for list in todos %}
            <tr>
              <td> <a href="{% url 'todo_detail' list.pk  %}"> {{list.name}} </td>
              <td> {{list.items.all|length}} </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </main>
  
  </body>
